$body-max-width: 720px
$general-padding: 1vh 1vw

$mono-grown:    #314043
$mono-storm:    #657E84
$mono-burnout:  #FF6652
$mono-rustique: #CDCCAA
$mono-candles:  #F4F3CD

$background-color: $mono-candles
$foreground-color: $mono-grown

@import index

body
  max-width: $body-max-width
  margin: 0 auto !important
  float: none !important
  padding: $general-padding

  background-color: $background-color
  color: $foreground-color
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif